## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
random.randint(0,10)

0

In [3]:
sample_list_1 = random.sample(range(100), 80)
sample_list_1

[6,
 9,
 32,
 94,
 93,
 86,
 66,
 27,
 53,
 36,
 7,
 52,
 47,
 25,
 24,
 5,
 12,
 68,
 26,
 42,
 97,
 8,
 72,
 0,
 35,
 73,
 44,
 64,
 67,
 30,
 58,
 81,
 87,
 11,
 54,
 50,
 63,
 85,
 23,
 96,
 77,
 74,
 91,
 51,
 69,
 21,
 17,
 49,
 88,
 33,
 57,
 95,
 48,
 70,
 41,
 61,
 92,
 19,
 98,
 37,
 34,
 99,
 14,
 71,
 40,
 65,
 55,
 59,
 13,
 28,
 84,
 38,
 18,
 62,
 1,
 56,
 2,
 31,
 90,
 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
#Your code here
#As Set does not allow duplicates, when you convert list to set, all duplicates will be removed in the set.
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range(80)]
sample_list_2

[28,
 54,
 75,
 69,
 79,
 79,
 98,
 63,
 65,
 63,
 49,
 73,
 33,
 70,
 83,
 56,
 0,
 58,
 92,
 27,
 84,
 34,
 34,
 28,
 12,
 44,
 87,
 78,
 6,
 74,
 50,
 13,
 79,
 8,
 46,
 34,
 24,
 69,
 0,
 37,
 56,
 36,
 22,
 68,
 98,
 3,
 47,
 55,
 4,
 77,
 90,
 99,
 85,
 7,
 21,
 64,
 44,
 8,
 48,
 57,
 50,
 29,
 20,
 90,
 5,
 18,
 66,
 78,
 56,
 22,
 87,
 26,
 28,
 97,
 68,
 63,
 7,
 26,
 4,
 13]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)
len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3 = set1.difference(set2)
set3

{1,
 2,
 9,
 11,
 14,
 17,
 19,
 23,
 25,
 30,
 31,
 32,
 35,
 38,
 40,
 41,
 42,
 43,
 51,
 52,
 53,
 59,
 61,
 62,
 67,
 71,
 72,
 81,
 86,
 88,
 91,
 93,
 94,
 95,
 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [18]:
# Your code here
set4 = set2.difference(set1)
set4

{3, 4, 20, 22, 29, 46, 75, 78, 79, 83}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
# Your code here
set5 = set1 & set2
set5

{0,
 5,
 6,
 7,
 8,
 12,
 13,
 18,
 21,
 24,
 26,
 27,
 28,
 33,
 34,
 36,
 37,
 44,
 47,
 48,
 49,
 50,
 54,
 55,
 56,
 57,
 58,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 73,
 74,
 77,
 84,
 85,
 87,
 90,
 92,
 97,
 98,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [21]:
len(set1), len(set2), len(set3), len(set4), len(set5)

(80, 55, 35, 10, 45)

In [10]:
# Your code here

#### Create an empty set called `set6`.

In [26]:
# Your code here
set6 =set()

In [29]:
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [32]:
# Your code here
set6.update(set3)
set6.update(set5)
len(set6)

80

#### Check if `set1` and `set6` are equal.

In [33]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [38]:
set2.issubset(set1)

False

In [37]:
set3.issubset(set1)     #set3 is set1 without numbers in common with set2

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [44]:
# Your code here
aggregation = set3.union(set4,set5,set1,set2)
len(aggregation)

90

#### Using the `pop` method, remove an element from `set1`.

In [47]:
# Your code here    Pop removes a random element
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [49]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [52]:
list_1 = list(set1)

In [57]:
type(list_1), type(list_to_remove)

(list, list)

In [66]:
new_list = [x for x in list_1 if x not in list_to_remove]
len(new_list)

63

In [67]:
len(list_1)

79