# Pandas: grouping

In [6]:
import pandas as pd
import numpy as np

In [8]:
cars = pd.read_csv("data/vehicles.csv")

In [9]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

<b>How many Car models?

In [10]:
cars["Make"].value_counts()

Chevrolet             3643
Ford                  2946
Dodge                 2360
GMC                   2347
Toyota                1836
                      ...
Excalibur Autos          1
London Taxi              1
Mahindra                 1
Goldacre                 1
E. P. Dutton, Inc.       1
Name: Make, Length: 127, dtype: int64

In [ ]:
#We have 127 different models

<b>group by the data by the Make  using count function

In [15]:
cars.groupby(["Make"]).count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

<b>What brand has the most cars?

In [54]:
cars["Make"].value_counts()

Chevrolet             3643
Ford                  2946
Dodge                 2360
GMC                   2347
Toyota                1836
                      ...
Excalibur Autos          1
London Taxi              1
Mahindra                 1
Goldacre                 1
E. P. Dutton, Inc.       1
Name: Make, Length: 127, dtype: int64

In [56]:
cars["Make"].value_counts().index[0]

'Chevrolet'

<b>show the average CO2_Emission_Grams/Km  by Brand

In [62]:
#First we should convert CO2 Emission Grams/Mile to KMS

In [63]:
cars["CO2_Emission_Grams/Km"]= cars["CO2 Emission Grams/Mile"].apply(lambda x:x*1.609344)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,CO2_Emission_Grams/Km
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,841.308243
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1100.172318
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,893.890008
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1100.172318
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,893.890008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,392.679936
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,391.070592
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,392.679936
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,395.898624
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,410.382720

In [176]:
cars.groupby(["Make"])["CO2_Emission_Grams/Km"].mean().to_frame().reset_index().sort_values(["CO2_Emission_Grams/Km"],ascending=False)

                                   Make  CO2_Emission_Grams/Km
119                              Vector            1688.458904
112    Superior Coaches Div E.p. Dutton            1430.224013
101  S and S Coach Company  E.p. Dutton            1430.224013
15                              Bugatti            1405.057896
58               Laforza Automobile Inc            1300.203648
..                                  ...                    ...
67                                 MINI             504.878350
26                             Daihatsu             499.199294
35                                 Fiat             490.313300
126                               smart             397.557142
36                               Fisker             271.979136

[127 rows x 2 columns]

In [66]:
cars["Year"]

0        1984
1        1984
2        1985
3        1985
4        1987
         ...
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [75]:
bins = [1980,1990,2000,2010,2020]
labels = [1980, 1990, 2000, 2010]

In [77]:
cars["Decade"] = pd.cut(cars["Year"], bins, labels = labels)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,CO2_Emission_Grams/Km,Decade
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,841.308243,1980
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1100.172318,1980
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,893.890008,1980
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,1100.172318,1980
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,893.890008,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,392.679936,2010
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,391.070592,2010
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,392.679936,2010
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,395.898624,2010
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,410.382720,2010

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [5]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [134]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
#change MPG to KMPG: *1.609344
#change KMPG to KM/liter : /3.785

In [107]:
cars["City_Km/Liter"]= cars["City MPG"].apply(lambda x:x*1.609344/3.785)
cars["Highway_Km/Liter"] = cars["Highway MPG"].apply(lambda x:x*1.609344/3.785)
                                             
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
 15  CO2_Emission_Grams/Km    35952 non-null  float64
 16  Decade                   35952 non-null  category
 17  City_Km/Liter            35952 non-null  float64
 18  Highway_Km/Liter         35952 non-null  float64
dtypes: category(1), float64(7), int64(5), object(6)
memory usage: 5.0+ MB

In [146]:
cars.groupby(["Decade"])["City_Km/Liter"].mean().to_frame()

        City_Km/Liter
Decade
1980         7.350647
1990         7.204997
2000         7.209212
2010         8.395360

<b>Which brands are more environment friendly?

In [181]:
cars.groupby(["Make"])["City_Km/Liter"].mean().to_frame().reset_index().sort_values(["City_Km/Liter"],ascending=True)

                                   Make  City_Km/Liter
119                              Vector       3.082627
15                              Bugatti       3.401520
101  S and S Coach Company  E.p. Dutton       3.826710
112    Superior Coaches Div E.p. Dutton       4.251900
58               Laforza Automobile Inc       4.251900
..                                  ...            ...
41                                  Geo      10.978169
35                                 Fiat      11.213149
26                             Daihatsu      11.930330
44                        Grumman Olson      12.117914
126                               smart      14.158826

[127 rows x 2 columns]

<b>Does the drivetrain affect fuel consumption?

In [ ]:
#change MPG to KMPG: *1.609344
#change KMPG to KM/liter : *3.785

In [184]:
cars.groupby(["Drivetrain"])["Highway_Km/Liter","City_Km/Liter"].mean().reset_index().sort_values(by=["Highway_Km/Liter"], ascending=False)

<ipython-input-184-85d0d1b027fb>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cars.groupby(["Drivetrain"])["Highway_Km/Liter","City_Km/Liter"].mean().reset_index().sort_values(by=["Highway_Km/Liter"], ascending=False)

                   Drivetrain  Highway_Km/Liter  City_Km/Liter
1        2-Wheel Drive, Front         14.031269      10.629749
5           Front-Wheel Drive         12.167558       9.003212
4             All-Wheel Drive         10.883737       7.786461
2               4-Wheel Drive          9.669656       7.191658
7            Rear-Wheel Drive          9.024946       6.557301
3  4-Wheel or All-Wheel Drive          8.348055       6.392757
0               2-Wheel Drive          8.223355       6.643216
6     Part-time 4-Wheel Drive          8.116284       6.216385

<b>Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [118]:
cars["Transmission"].unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd',
       'Automatic (S5)', 'Manual 6-spd', 'Automatic 5-spd', 'Auto(AM8)',
       'Auto(AM-S8)', 'Auto(AV-S7)', 'Automatic (S6)', 'Automatic (S9)',
       'Automatic (S4)', 'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)',
       'Auto(AM-S7)', 'Auto(AM6)', 'Automatic 6-spd', 'Manual 4-spd',
       'Automatic (S8)', 'Manual(M7)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)', 'Manual 3-spd',
       'Manual 7-spd', 'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd',
       'Auto(L4)', 'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)',
       'Automatic (AV-S6)', 'Automatic 7-spd', 'Manual 5 spd',
       'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

We have a lot of different transmissions, we can change to Auto and Manual

In [125]:
cars["Trans"]= cars["Transmission"].apply(lambda x: 'Auto' if 'Auto' in x else 'Manual')
cars["Trans"].unique()

array(['Auto', 'Manual'], dtype=object)

In [169]:
cars.groupby(["Trans"])["City_Km/Liter"].mean().to_frame()

        City_Km/Liter
Trans
Auto         7.279098
Manual       7.969231

### Use `groupby` and `aggregate` with different aggregation measures for different columns:

<b>aggregate with average City_Km/Liter and the count of the Trans

In [199]:
cars.groupby[("Trans")][("City_Km/Liter").mean("Trans").count()]

TypeError: 'method' object is not subscriptable

In [ ]:
cars.groupby["City_Km/Liter"].filter

In [139]:
cars.groupby(["Trans"])["City_Km/Liter"].mean()

Trans
Auto      7.279098
Manual    7.969231
Name: City_Km/Liter, dtype: float64

In [145]:
cars.groupby(["Trans"])["City_Km/Liter"].mean().to_frame()

        City_Km/Liter
Trans
Auto         7.279098
Manual       7.969231

<b>aggregate with average City_Km/Liter and the minimum of the Trans

In [135]:
cars.groupby(["Trans"])(["City_Km/Liter"].mean()["Trans"].min())

AttributeError: 'list' object has no attribute 'mean'

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857